@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --vLightGray: #f2f2f2;
  --lightGray: #cccccc;
  --gray: #a6a6a6;
  --lightGrayOrange: #efeae5;
  --paleYellow: #fff9d8;
  --desatOrange: #735a44;
  --vDesatOrange: #534131;
  --darkBrown: #312011;
  --dLimeGreen: #6b816c;
  --darkCyan: #26524f;
  --vDarkCyan: #1a3b2b;
}

body {
  background-color: var(--vLightGray);
}

.default-button {
  display: flex;
  flex-direction: row;
  background-color: var(--lightGray);
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  font: bolder;
}

.default-button:hover {
  background-color: var(--gray);
}



/* Home Page Header */
.big-header {
  background-color: var(--desatOrange);
  height: 20%;
  padding-top: 10px;
  padding-left: 15px;
}

.title1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 8vh;
  color: var(--darkBrown);
  text-shadow: 2px 1px 1px black, 3px 2px 2px var(--paleYellow);
  border-bottom-width: 2px;
  border-bottom-color: var(--darkBrown);
}

.home-subtitle {
  color: var(--darkBrown);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.big-nav {
  margin: 2px 10px 10px 10px;
  padding: 0px 10px 10px 10px;
  border-radius: 0px 0px 15px 15px;
  border-bottom-width: 4px;
  background-color: white;
  width: 20%;
  font-style: italic;
}

.big-nav:hover {
  border-bottom-color: #1a3b2b;
  border-bottom-width: 4px;
}



/* Tbr Header */
.tbr-header{
  background-color: var(--desatOrange);
  padding-left: 10px;
  padding-bottom: 6px;
}

.tbr-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: 400;
  color: var(--darkBrown);
  /* text-shadow: 1px 1px black; */
  border-bottom-width: 2px;
  border-bottom-color: #312011;
}

.tbr-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

.tbr-nav {
  padding: 5px 10px 5px 10px;
  border-bottom-width: 2px;
  border-bottom-color: white;
  font-style: italic;
  font-size: small;
}

.tbr-nav:hover {
  border-bottom-color: #1a3b2b;
  border-bottom-width: 2px;
}



/* Display Boxes */
.box-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  background-color: white;
  margin: 16px;
  width: 30%;
}

@media (max-width: 768px) {
  .box-holder {
    flex-direction: column;
    margin-right: 26px;
  }

  .box {
    width: 100%;
    height: 40vh;
  }
}

.box-title {
  background-color: var(--dLimeGreen);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  padding-left: 10px;
  border-bottom-color: #26524f;
  border-bottom-width: 4px;
  color: var(--vDarkCyan);
}

.box-display {
  padding: 10px 15px 10px 15px;
  max-height: 85%;
  overflow-y: scroll;
}

.box-display::-webkit-scrollbar {
  width: 0 !important;
}

.list-display {
  margin-bottom: 4px;
  border-bottom-width: 1px;
}

.list-display:hover {
  background-color: #fafafa;
}

.sort-box {
  background-color: var(--vDarkCyan);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
}

label {
  color: var(--vLightGray);
  padding-right: 8px;
}

select {
  background-color: var(--vDarkCyan);
  color: var(--vLightGray);
}



/* TBR & Library */
.add-button-holder {
  background-color: var(--lightGray);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 16px;
}

.add-button-holder:hover {
  background-color: var(--gray);
}

.bookshelf {
  background-color: white;
  margin: 16px;
  padding: 0px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-display {
  display: flex;
  flex-direction: row;
  border-bottom-width: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 8px;
  width: 45%;
}

.thumb-display {
  margin-right: 8px;
  float: left;
}

.book-display:hover {
  background-color: #fafafa;
}

.info-display {
  max-height: 30vh;
  overflow-y: auto;
}

.info-display::-webkit-scrollbar {
  width: 0 !important;
}



/* TBR List */
.tbr-button-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.book-delete {
  color: white;
  background-color: var(--dLimeGreen);
  font-size: medium;
  padding: 4px;
  border-radius: 12px;
}

.book-delete:hover {
  background-color: var(--darkCyan);
}

.tbr-to-read {
  color: white;
  background-color: var(--darkCyan);
  font-size: medium;
  padding: 4px;
  border-radius: 12px;
}

.tbr-to-read:hover {
  background-color: var(--vDarkCyan);
}


/* Library Header */
.lib-header{
  background-color: var(--desatOrange);
  padding-left: 10px;
  padding-bottom: 6px;
}

.lib-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  border-bottom-width: 2px;
  border-bottom-color: #312011;
}

.lib-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

.lib-nav {
  padding: 5px 10px 5px 10px;
  border-bottom-width: 2px;
  border-bottom-color: white;
  font-style: italic;
  font-size: small;
}

.lib-nav:hover {
  border-bottom-color: #1a3b2b;
  border-bottom-width: 2px;
}



/* My Library */
.library-button-holder {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.date-read {
  font-size: xx-small;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}



/* Add Book Modal */
.dark-back {
  background-color: rgb(0, 0, 0, .6);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container {
  z-index: 10;
  background-color: var(--darkCyan);
  padding: 16px;
  margin: 20px;
  border-radius: 30px;
  border-style: inset;
  border-width: 6px;
  border-color: var(--vDarkCyan);
  width: 80vw;
}

.modal-title {
  display: flex;
  justify-content: center;
  border-bottom-style: double;
  border-bottom-width: 6px;
  border-bottom-color: var(--vDarkCyan);
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--dLimeGreen);
  text-shadow: 2px 2px 2px var(--vDarkCyan)
}

form {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 50%;
}

.search {
  width: 50%;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.search-input input {
  width : 100%;
}

.search-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 40%;
  margin-top: 60px;
  max-height: 65%;
  overflow: scroll;
}

.search-list::-webkit-scrollbar {
  width: 0 !important;
}

.search-results {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  color: white;
  font-size: small;
}

.search-results:hover {
  cursor: pointer;
}

.name-results {
  margin-left: 8px;
}

.book-form {
  width: 50%
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.bdisc {
  display: flex;
  justify-content: flex-start;
  height: 20vh;
}

textarea {
  max-height: 20vh;
}

.rtitle {
  color: white;
  display: flex;
  justify-content: center;
}

.read-form {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 6px;
}

.radio-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-option {
  margin-right: 8px;
}

.date-holder {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.setRead {
  display: flex;
  flex-direction: column;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



/* Book Club Modal */


/* Book Club Header */
.bc-header{
  background-color: var(--vDarkCyan);
  padding-left: 10px;
  padding-bottom: 6px;
}

.bc-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  border-bottom-width: 2px;
  border-bottom-color: var(--dLimeGreen);
  color: white;
}

.bc-subtitle {
  color: white;
}

.bc-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

.bc-nav {
  padding: 5px 10px 5px 10px;
  border-bottom-width: 2px;
  border-bottom-color: white;
  font-style: italic;
  font-size: small;
}

.bc-nav:hover {
  border-bottom-color: var(--desatOrange);
  border-bottom-width: 2px;
}



/* Book Club */
.bc-box-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bc-box {
  background-color: white;
  margin: 16px;
  width: 30%;
}

@media (max-width: 768px) {
  .bc-box-holder {
    flex-direction: column;
    margin-right: 26px;
  }

  .bc-box {
    width: 100%;
    height: 40vh;
  }
}

.book-club-title {
  font-size: large;
}

.meeting-time {
  font-size: small;
}

.bc-button-holder {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}





/* Chat Rooms */
.c-header {
  background-color: #1a3b2b;
  display: flex;
  flex-direction: column;
  height: 8vh;
}

.c-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: white;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
}

.c-title h1 {
  border-bottom: solid var(--darkCyan);
  width:80%;
  height: 48px;
}

.c-subtitle {
  font-size: medium;
  font-style: italic;
  margin-left: 12px;
  margin-top: 10px;
  text-decoration: none;
}

.c-subsubtitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: white;
  margin-left: 28px;
}


/* Book Club */
.club-title {
  background-color: var(--desatOrange);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  padding-left: 10px;
  border-bottom-color: var(--darkBrown);
  border-bottom-width: 4px;
  color: var(--lightGrayOrange);
}

.chat-button {
  width: 60px;
  height: 40px;
  background-color: var(--vDarkCyan);
  color: var(--vLightGray);
  margin-top: 8px;
  border-radius: 15px;
}

.club-container {
  display: flex;
  flex-direction: row;
  height: 96vh;
  width: 100%;
  overflow: hidden;
}

.chat-containter {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.member-bar {
  width: 108px;
  height: 100%;
  border-right: var(--vDarkCyan) solid;
  background-color: var(--vDarkCyan);
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
  padding-left: 14px;
}

.member-title {
  color: var(--vLightGray);
  font-size: large;
  border-bottom: var(--darkCyan) solid;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  height: 70%;
  width: 100%;
  margin-left: 12px;
  overflow-y: scroll;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  border-top: black solid;
  padding-top: 20px;
  align-items: flex-end;
  padding-right: 20px;
}

.text-container textarea {
  width: 85vw;
  height: 8vh;
  resize: none;
  overflow: hidden;
  border-radius: 15px;
  padding: 8px;
  font-size: large;
}

.text-container textarea::placeholder {
  font-style: italic;
}
.user-icon {
  background-color: var(--dLimeGreen);
  color: white;
  margin: 10px 5px;
  padding: 16%;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  font-size: 20px;
}