@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --vLightGray: #f2f2f2;
  --vDesatOrange: #534131;
  --desatOrange: #735a44;
  --darkBrown: #312011;
  --dLimeGreen: #6b816c;
  --darkCyan: #26524f;
  --vDarkCyan: #1a3b2b;
}

body {
  background-color: var(--vLightGray);
}

/* Home Page Header */
.big-header {
  background-color: var(--desatOrange);
  height: 20%;
  padding-top: 10px;
  padding-left: 15px;
}

.title1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.big-nav {
  margin: 2px 10px 10px 10px;
  padding: 0px 10px 10px 10px;
  border-radius: 0px 0px 15px 15px;
  border-bottom-width: 4px;
  background-color: white;
  width: 20%;
  font-style: italic;
}

.big-nav:hover {
  border-bottom-color: #1a3b2b;
  border-bottom-width: 4px;
}



/* Small Header */
.small-header{
  background-color: var(--desatOrange);
}

.title2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}

.small-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

.small-nav {
  padding: 5px 10px 5px 10px;
  border-bottom-width: 2px;
  border-bottom-color: white;
  font-style: italic;
}

.small-nav:hover {
  border-bottom-color: #1a3b2b;
  border-bottom-width: 2px;
}



/* Display Boxes */
.box-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  background-color: white;
  margin: 16px;
  width: 30%;
}

@media (max-width: 800px) {
  .box-holder {
    flex-direction: column;
    margin-right: 26px;
  }

  .box {
    width: 100%;
  }
}

.box-title {
  background-color: var(--dLimeGreen);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  padding-left: 10px;
  border-bottom-color: #26524f;
  border-bottom-width: 4px;
}

.box-display {
  padding: 10px 15px 10px 15px;
}

.list-display {
  margin-bottom: 4px;
  border-bottom-width: 1px;
}

.list-display:hover {
  background-color: #fafafa;
}

.sort-box {
  background-color: var(--vDarkCyan);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
}

label {
  color: var(--vLightGray);
  padding-right: 8px;
}

select {
  background-color: var(--vDarkCyan);
  color: var(--vLightGray);
}



/* Book Clubs */
.bc-header {
  background-color: #1a3b2b;
}

.bc-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: white;
  padding: 5px 10px;
}

/* Book Club */
.chat-button {
  width: 60px;
  height: 40px;
  background-color: var(--vDarkCyan);
  color: var(--vLightGray);
  margin-top: 8px;
}

.club-container {
  display: flex;
  flex-direction: row;
  height: 88vh;
  width: 100%;
}

.chat-containter {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.member-bar {
  width: 86px;
  height: 100%;
  border-right: var(--vDarkCyan) solid;
  display: flex;
  flex-direction: column;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  height: 85%;
  width: 100%;
  margin-left: 12px;
  overflow-y: scroll;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  border-top: black solid;
  padding-top: 20px;
  align-items: flex-end;
  padding-right: 20px;
}

.text-container textarea {
  width: 85vw;
  height: 8vh;
  resize: none;
  overflow: hidden;
}

.text-container textarea::placeholder {
  font-style: italic;
}
.user-icon {
  background-color: var(--darkBrown);
  color: white;
  margin: 10px 5px;
  padding: 16%;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  font-size: 20px;
}